<% layout('boilerplate.ejs') %>
            <div class="d-flex mb-3">
                <span class="speech-right align-self-start ">Hello, I am Akinator</span>
                <img src="/img/index.png">
                <span class="speech-left align-self-center ">Think about a real or fictional character.
                    I will try to guess who it is</span>
            </div>
    <center>
        <a href="/start" class="btnStyle ">Play</a>
    </center>