<% layout('boilerplate.ejs') %>

    <div class="row  mb-3">
        <div class="col">
            <div class="d-flex ">
                <span class="speech-right align-self-start ">Hello, I am Akinator</span>
                <img src="/img/index.png">
                <span class="speech-left align-self-center ">Think about a real or fictional character.
                    I will try to guess who it is</span>
            </div>
        </div>
    </div>
    <a href="/start" class="btnStyle ">Play</a>
   