<% layout('boilerplate.ejs') %> 
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card" >
                <img src=<%=guess.absolute_picture_path%> class="card-img-top">
                <hr>
                <div class="card-body">
                    <h6 class="card-subtitle">I think of </h6>
                    <h4 class="card-title"><%= guess.name %> </h4>
                    <h6 class="card-subtitle"><%= guess.description %> </h6>
                </div>
            </div>
            <a href="/start" class="btn btn-success">Restart</a>
            <a href="/home" class="btn btn-secondary">Go to Home Page</a>
        </div>
    </div>
  