<% layout('boilerplate.ejs') %> 
   
        <div class="d-flex align-items-start">
            <img src="img/win.png" width="600px" height="600px">
            <span class="speech-left">
                
                    <h6>I think of </h6>
                    <h4><%= guess.name %> </h4>
                    <h6><%= guess.description %> </h6>
                    <img src=<%=guess.absolute_picture_path%> class="img-thumbnail">
            </span>
        </div>
        <center>
            <a href="/" class="btnStyle">Go to Home Page</a>
        </center>
  