<% layout('boilerplate.ejs') %> 
   
        <div class="d-flex align-items-start">
            <img src="img/win.png" width="600px" height="600px" class="noRight">
            <span class="speech-left moveright win-speech">
                    <h6 class="smallfont">I think of </h6>
                    <h4 class="smallfont"><%= guess.name %> </h4>
                    <h6 class="smallfont"><%= guess.description %> </h6>
                    <img src=<%=guess.absolute_picture_path%> class="img-thumbnail noRight win-img">
            </span>
        </div>
            <div class="mt-5">
                <center>
                    <a href="/" class="btnStyle">Go to Home Page</a>
                </center>
            </div>
        
  